@import '../../styles/variables.scss';

.main-content {
  background-color: #fafafa;

  @media screen and (min-width: $defaultBreakPoint) {
    position: absolute !important;
    top: 56.156px;
    right: 0;
    bottom: 0;
  }
}

.tabContent {
  padding: 10px;
  background-color: white;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
