@import '../../styles/variables.scss';

.main-content {
  background-color: #fafafa;

  .main-heading-container {
   
  }

  @media screen and (min-width: $defaultBreakPoint) {
    position: absolute !important;
    top: 56.156px;
    right: 0;
    bottom: 0;
  }
}
