.sourceEditor {
  background-color: #ffffff;
  color: black;
  padding: 12px 6px;

  .tabContent {
    padding: 1em;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .halfButton {
    width: 49%;
  }
}
