.tile {
  height: 100%;
  text-align: center;
  color: #565672;
  padding: 6px 0;
  .iconBox {
    font-size: 20px;
    width: 100%;
    position: relative;
    height: 25px;
    text-align: center;
  }
  .tileLabel {
    font-size: 11pt;
  }
  &:hover {
    background-color: #7baf37;
    color: white;
  }
}
