.sourceListItem {
  padding-bottom: 6px;
  padding-top: 6px;
  cursor: pointer;
  background-color: #21232e;
  border-bottom: 1px solid #303143;

  .title {
    font-size: 1.3em;
    color: #b0b0b8;
    margin: 6px 0 12px 0;
    overflow-wrap: break-word;
  }
  .actions {
    color: #b0b0b8;
    padding: 0;
    width: 40px !important;
    float: right;
    .btn {
      display: block;
      width: inherit;
      border-bottom: 1px solid #22232f;
      border-left: 1px solid #22232f;
      margin: 0;
      &.active {
        background-color: white;
        color: black;
      }
    }
  }
  &.highlights {
    background-color: #303143;
  }
}
