.sourceListItem {
  padding-bottom: 6px;
  padding-top: 6px;
  cursor: pointer;
  background-color: #21232e;
  border-bottom: 1px solid #303143;

  h1 {
    font-size: 16px;
    color: #b0b0b8;
    margin: 6px 0 12px 0;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    overflow-wrap: break-word;
  }
  .actions {
    text-align: right;
    align-content: flex-end;
    padding: 0;
    width: 40px;
    float: right;

    .btn {
      display: block;
      width: inherit;
      border-radius: 0;
      border-bottom: 1px solid #22232f;
      border-left: 1px solid #22232f;
      margin: 0;
      &.active {
        background-color: white;
        color: black;
      }
    }
  }
  &.highlights {
    background-color: #303143;
  }
}
